DB_META_HOST=crm.aliminlomasdelmar.com
DB_META_PORT=5432
DB_META_NAME=lomas_del_mar
DB_META_USER=postgres
DB_META_PASSWORD=your_password_here

DB_WEB_HOST=web_leads_host
DB_WEB_PORT=5432
DB_WEB_NAME=web_leads
DB_WEB_USER=postgres
DB_WEB_PASSWORD=your_password_here

FIREBASE_PROJECT_ID=your_id
FIREBASE_CLIENT_EMAIL=your_email
FIREBASE_PRIVATE_KEY="your_key"
